$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$form-control--Padding: $unit-s !default;

$form-control--Border: 1px solid #000 !default;
$form-control--BackgroundColor: #fff !default;
$form-control--Color: #000 !default;

$form-control_label--Padding: $unit-s !default;

$form-control_input--Padding: $unit-s !default;
$form-control_input--Border: 1px solid #000 !default;
$form-control_input--BackgroundColor: #fff !default;
$form-control_input--Color: #000 !default;

.form-control {
  display: flex;
  align-items: baseline;
  padding: $form-control--Padding;
  margin: 0;
  border: $form-control--Border;
  background-color: $form-control--BackgroundColor;
  color: $form-control--Color;
  > label {
    display: block;
    padding: $form-control_label--Padding;
    line-height: 1;
  }
  > input {
    display: block;
    padding: $form-control_input--Padding;
    border: $form-control_input--Border;
    background-color: $form-control_input--BackgroundColor;
    color: $form-control_input--Color;
  }
}
