$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;


$tooltip--Padding: $unit-s !default;
$tooltip--Border: 1px solid #000 !default;
$tooltip--BackgroundColor: #fff !default;
$tooltip--Color: #000 !default;

$tooltip_toggle--Padding: $unit-s !default;
$tooltip_toggle--Border: 1px solid #000 !default;
$tooltip_toggle--BackgroundColor: #fff !default;
$tooltip_toggle--Color: #000 !default;

$tooltip_message--Padding: $unit-s !default;
$tooltip_message--Border: 1px solid #000 !default;
$tooltip_message--BackgroundColor: #fff !default;
$tooltip_message--Color: #000 !default;

.tooltip {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: $tooltip--Padding;
  border: $tooltip--Border;
  background-color: $tooltip--BackgroundColor;
  color: $tooltip--Color;

  &_toggle {
    padding: $tooltip_toggle--Padding;
    border: $tooltip_toggle--Border;
    background-color: $tooltip_toggle--BackgroundColor;
    color: $tooltip_toggle--Color;
  }
  &_message {
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    padding: $tooltip_message--Padding;
    border: $tooltip_message--Border;
    background-color: $tooltip_message--BackgroundColor;
    color: $tooltip_message--Color;
  }
  &_toggle:hover + &_message {
    display: block;
  }
  &.is-above {
    flex-direction: column;
    align-items: center;
  }
  &.is-above &_message { bottom: 100%; }
  &.is-below {
    flex-direction: column;
    align-items: center;
  }
  &.is-below &_message { top: 100%; }
  &.is-left &_message { right: 100%; }
  &.is-right &_message { left: 100%; }
}
