$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$pf-c-tag--Padding: $unit-xxs $unit-xs !default;
$pf-c-tag--Border: 1px solid #000 !default;
$pf-c-tag--BackgroundColor: #fff !default;
$pf-c-tag--Color: #000 !default;
$pf-c-tag--FontSize: 0.85em !default;

.pf-c-tag {
  font-size: $pf-c-tag--FontSize;
  display: inline-block;
  padding: $pf-c-tag--Padding;
  margin: 0;
  border: $pf-c-tag--Border;
  background-color: $pf-c-tag--BackgroundColor;
  color: $pf-c-tag--Color;
}
