.Classic {
  width: 1440px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__header {
    grid-column: 1 / -1;
  }
  &__footer {
    grid-column: 1 / -1;
  }
  &__primary {
    grid-column: 2 / 4;
  }
  &__secondary {
  }
}
