.Classic {
  width: 1440px;
  max-width: 100%;
  display: grid;

  &__header {
  }
  &__footer {
  }
  &__primary {
  }
  &__secondary {
  }
}

@media screen and (min-width: 640px) {
  .Classic {
    grid-template-columns: repeat(4, 1fr);
    &__primary {
      grid-column: 2 / 4;
    }
    &__header,
    &__footer {
      grid-column: 1 / -1;
    }
  }
}
