$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$pf-c-dropdown-menu--Padding: 0 !default;
$pf-c-dropdown-menu__body--Padding: $unit-s !default;

$pf-c-dropdown-menu--Border: 0px solid #000 !default;
$pf-c-dropdown-menu--BackgroundColor: #fff !default;
$pf-c-dropdown-menu--Color: #000 !default;

$pf-c-dropdown-menu_toggle--Padding: $unit-s !default;
$pf-c-dropdown-menu_toggle--Border: 0px solid #000 !default;

$pf-c-dropdown-menu__body--Border: 1px solid #000 !default;
$pf-c-dropdown-menu__body--BackgroundColor: #fff !default;
$pf-c-dropdown-menu__body--Color: #000 !default;

.pf-c-dropdown-menu {
  display: inline-block;
  position: relative;
  padding: $pf-c-dropdown-menu--Padding;
  margin: 0;
  border: $pf-c-dropdown-menu--Border;
  background-color: $pf-c-dropdown-menu--BackgroundColor;
  color: $pf-c-dropdown-menu--Color;
  &_toggle {
    padding: $pf-c-dropdown-menu_toggle--Padding;
    border: $pf-c-dropdown-menu_toggle--Border;
  }
  &__body {
    position: absolute;
    display: none;
    z-index: 1;
    padding: $pf-c-dropdown-menu__body--Padding;
    border: $pf-c-dropdown-menu__body--Border;
    background-color: $pf-c-dropdown-menu__body--BackgroundColor;
    color: $pf-c-dropdown-menu__body--Color;
  }
  &.is-expanded > &__body {
    display: block;
  }
  &.is-right-aligned > &__body {
    right: 0;
  }
}
