:root {
  --black: #232425;
  --white: #ffffff;
  --spaceCadet: #1d3557;
  --queenBlue: #457b9d;
  --lightBlue: #a8dadc;
  --honeyDew: #f1faee;
  --desire: #e63946;
}

/* #root {
  display: block;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--spaceCadet);
}

#root .simplebar-content {
  background: var(--spaceCadet);
  color: var(--honeyDew);
}
#root .sidebar-subheading {
  color: var(--honeyDew);
}
#root .sidebar-item {
  color: var(--honeyDew);
} */
