.Heading {
  margin: 0;
  padding: var(--mUnit, 16px);
  line-height: var(--Heading--line-height, 1.2);
  font-size: var(--Heading--font-size, 16px);
  font-weight: var(--Heading--font-weight, 700);

  &.is-h1 {
    font-size: var(--Heading-is-h1--font-size, 32px);
  }
  &.is-h2 {
    font-size: var(--Heading-is-h2--font-size, 28px);
  }
  &.is-h3 {
    font-size: var(--Heading-is-h3--font-size, 24px);
  }
  &.is-h4 {
    font-size: var(--Heading-is-h4--font-size, 20px);
  }
  &.is-h5 {
    font-size: var(--Heading-is-h5--font-size, 16px);
  }
  &.is-h6 {
    font-size: var(--Heading-is-h6--font-size, 16px);
  }
}
