$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$alert--Padding: $unit-s !default;

$alert--Border: 1px solid #000 !default;
$alert--BackgroundColor: #efefef !default;
$alert--Color: #000 !default;

/**
 * Notifies users of context specific information
 * @block [message] The main body for the alert
 * @element [close-button] Used to dismiss the alert
 * @modifier [is-info] Information that is for general knowledge
 * @modifier [is-success] Information that indicates something succeeded
 * @modifier [is-warning] Information that is important but not critical
 * @modifier [is-critical] Information that is critical
 * @modifier [is-error] Information related to an error
 */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $alert--Padding;
  margin: 0;
  border: $alert--Border;
  background-color: $alert--BackgroundColor;
  color: $alert--Color;
  &__message {}
  &_close-button {
    padding: 0;
    border-width: 0;
    background: transparent;
  }
}
