$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;


$tree--Padding: $unit-s !default;
$tree--Padding: $unit-s !default;
$tree--BorderLeft: 0px solid #000 !default;
$tree--BackgroundColor: #fff !default;
$tree--Color: #000 !default;

$tree__node--Padding: $unit-s $unit-l !default;
$tree__node--BorderLeft: 2px solid #000 !default;
$tree__node--BackgroundColor: #fff !default;
$tree__node--Color: #000 !default;

$tree__node--is-leaf--Padding: $unit-s $unit-m !default;
$tree__node--is-leaf--BorderLeft: 2px solid #000 !default;
$tree__node--is-leaf--BackgroundColor: #fff !default;
$tree__node--is-leaf--Color: #000 !default;

$tree_toggle--MarginLeft: -$unit-m !default;
$tree_toggle--Padding: 0 !default;
$tree_toggle--Border: 0px solid #000 !default;
$tree_toggle--BackgroundColor: #fff !default;
$tree_toggle--Color: #000 !default;

.tree {
  display: block;
  margin: 0;
  padding: $tree--Padding;
  border-left: $tree--BorderLeft;
  background-color: $tree--BackgroundColor;
  color: $tree--Color;

  &_toggle {
    position: absolute;
    display: inline-block;
    margin-left: $tree_toggle--MarginLeft;
    padding: $tree_toggle--Padding;
    border: $tree_toggle--Border;
    background-color: $tree_toggle--BackgroundColor;
    color: $tree_toggle--Color;
  }

  &__node {
    position: relative;
    padding: $tree__node--Padding;
    border-left: $tree__node--BorderLeft;
    background-color: $tree__node--BackgroundColor;
    color: $tree__node--Color;
  }

  &__node.is-leaf {
    padding: $tree__node--is-leaf--Padding;
    border-left: $tree__node--is-leaf--BorderLeft;
    background-color: $tree__node--is-leaf--BackgroundColor;
    color: $tree__node--is-leaf--Color;
  }
  &__node.is-parent {

  }
}
