$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;


$pf-c-popover--Padding: $unit-s !default;
$pf-c-popover--Border: 1px solid #000 !default;
$pf-c-popover--BackgroundColor: #fff !default;
$pf-c-popover--Color: #000 !default;

$pf-c-popover_toggle--Padding: $unit-s !default;
$pf-c-popover_toggle--Border: 1px solid #000 !default;
$pf-c-popover_toggle--BackgroundColor: #fff !default;
$pf-c-popover_toggle--Color: #000 !default;

$pf-c-popover_message--Padding: $unit-s !default;
$pf-c-popover_message--Border: 1px solid #000 !default;
$pf-c-popover_message--BackgroundColor: #fff !default;
$pf-c-popover_message--Color: #000 !default;

.pf-c-popover {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: $pf-c-popover--Padding;
  border: $pf-c-popover--Border;
  background-color: $pf-c-popover--BackgroundColor;
  color: $pf-c-popover--Color;

  &_toggle {
    padding: $pf-c-popover_toggle--Padding;
    border: $pf-c-popover_toggle--Border;
    background-color: $pf-c-popover_toggle--BackgroundColor;
    color: $pf-c-popover_toggle--Color;
  }
  &_message {
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    padding: $pf-c-popover_message--Padding;
    border: $pf-c-popover_message--Border;
    background-color: $pf-c-popover_message--BackgroundColor;
    color: $pf-c-popover_message--Color;
  }
  &.is-toggled &_message {
    display: block;
  }
  &.is-above {
    flex-direction: column;
    align-items: center;
  }
  &.is-above &_message { bottom: 100%; }
  &.is-below {
    flex-direction: column;
    align-items: center;
  }
  &.is-below &_message { top: 100%; }
  &.is-left &_message { right: 100%; }
  &.is-right &_message { left: 100%; }
}
